<html>
    <link rel="stylesheet" href="static/index.css">
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="background">
    <div class="heading"><h1>Travel with your friends</h1></div>
    <div class="box1">
      <div class="reg"><h3>Already decided?</h3></div>
      <br /><br />
      <a href="index2.html">
        <button type="button">Register</button>
      </a>
    </div>
    <div class="box2">
      <div class="find"><h3>Finding someone to accompany you?</h3></div>
      <br /><br />
      <a href="/test2">
      <div class="findbutton">
        <button type="button">Find</button>
      </div></a>
    </div>
  </div>


  </body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="heading">
      <h1>Travel with Friends!</h1>
    </div>
    <div class="box1">
      <div class="reg"><h3>Already decided?</h3></div>
      <br /><br />
      <a href="index2.html">
        <button type="button">Register</button>
      </a>
    </div>
    <div class="box2">
      <div class="find"><h3>Finding someone to accompany you?</h3></div>
      <br /><br />
      <a href="index3.html">
      <div class="findbutton">
        <button type="button">Find</button>
      </div></a>
    </div>
  </body>


</html> -->