<html>
    <link rel="stylesheet" href="static/index.css">
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="hero">
        
        <nav>
            <h1 class="logo">PlanYourTrip</h1>
            <h1 class="v">Travel with Friends</h1>
        </nav>
        
    </div>
    <div class="home2">
        <a href="index.html" style="color: rgb(205, 241, 248);">
          HOME
        </a>
      </div>
    <div class="box">
      <form action="/test" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" value="null" >
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="id">ID:</label>
          <input
            type="number"
            class="form-control"
            id="id"
            name="id"
            value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="traveldate">TravelDate:</label>
          <input
            type="tel"
            class="form-control"
            id="traveldate"
            placeholder="yyyy-mm-dd"
            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
            name="traveldate"
            value="null"
          >
        </div>
        <br />
        <br />

        <div class="form-group">
          <label for="from">From:</label>
          <input type="text" class="form-control" id="from" name="from" value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="to">To:</label>
          <input type="text" class="form-control" id="to" name="to" value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="inter1">Inter1:</label>
          <input type="text" class="form-control" id="inter1" name="inter1" value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="inter2">Inter2:</label>
          <input type="text" class="form-control" id="inter2" name="inter2" value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="inter3">Inter3:</label>
          <input type="text" class="form-control" id="inter3" name="inter3" value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="inter4">Inter4:</label>
          <input type="text" class="form-control" id="inter4" name="inter4" value="null">
        </div>
        <br />
        <br />

        <div class="form-group">
          <label for="contact">Contact:</label>
          <input type="tel" class="form-control" id="contact" name="contact" value="null">
        </div>
        <br />
        <br />`

        <button type="submit" class="btn2">SUBMIT</button>
      </form>
    </div>
  </body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="home">
      <a href="index.html">
        <button type="button" class="hb">Home</button>
      </a>
    </div>

    <div class="box">
      <form action="/test" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="id">ID:</label>
          <input
            type="number"
            class="form-control"
            id="id"
            name="id"
            value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="traveldate">TravelDate:</label>
          <input
            type="tel"
            class="form-control"
            id="traveldate"
            placeholder="yyyy-mm-dd"
            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
            name="traveldate"
            value="null"
          >
        </div>
        <br />
        <br />

        <div class="form-group">
          <label for="from">From:</label>
          <input type="text" class="form-control" id="from" name="from" value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="to">To:</label>
          <input type="text" class="form-control" id="to" name="to" value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="inter1">Inter1:</label>
          <input type="text" class="form-control" id="inter1" name="inter1" value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="inter2">Inter2:</label>
          <input type="text" class="form-control" id="inter2" name="inter2" value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="inter3">Inter3:</label>
          <input type="text" class="form-control" id="inter3" name="inter3" value="null">
        </div>
        <br />
        <br />
        <div class="form-group">
          <label for="inter4">Inter4:</label>
          <input type="text" class="form-control" id="inter4" name="inter4" value="null">
        </div>
        <br />
        <br />

        <div class="form-group">
          <label for="contact">Contact:</label>
          <input type="tel" class="form-control" id="contact" name="contact" value="null">
        </div>
        <br />
        <br />`

        <button type="submit" class="btn2">Submit</button>
      </form>
    </div>
    
  </body>
</html> -->